<!DOCTYPE html>
<html lang="ja">
	</head>
		<title>Menu</title>
		<link rel = "stylesheet" type= "text/css" href = "/css/rayout.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>

	<body>
		<h1>
			<p>Menu</p>
		</h1>
	</body>
</html>
