<!DOCTYPE html>
<html lang="ja">
	</head>
		<title>Rating Logic</title>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="./javascripts/menu/index.js"></script>
	</head>

	<body>
		<h1>
			<p><a href="http://destinytracker.com/Forums/Post/20962/6/dtr-elo" target="_blank">Rating Logic</a></p>
		</h1>
<!--
		<h2>User</h2>

		<table id="user" border="1">
			<tr>
				<td>User Name</td>
				<td>Rating</td>
			</tr>
		</table>
-->
		<h2>Battle</h2>

		<form action="/battle" method="POST" name="battle" id="battle">
			A Team
			<table id="ateam" border="0.5">
				<tr>
					<td><input type="text" name="teamA-A1-user" placeholder="Name"></td>
					<td><input type="number" name="teamA-A1-rating" placeholder="Rating"></td>
				</tr>
        	                <tr>
                	                <td><input type="text" name="teamA-A2-user" placeholder="Name"></td>
                        	        <td><input type="number" name="teamA-A2-rating" placeholder="Rating"></td>
	                        </tr>
        	                <tr>
                	                <td><input type="text" name="teamA-A3-user" placeholder="Name"></td>
                        	        <td><input type="number" name="teamA-A3-rating" placeholder="Rating"></td>
	                        </tr>
        	                <tr>
                	                <td><input type="text" name="teamA-A4-user" placeholder="Name"></td>
                        	        <td><input type="number" name="teamA-A4-rating" placeholder="Rating"></td>
	                        </tr>
        	                <tr>
                	                <td><input type="text" name="teamA-A5-user" placeholder="Name"></td>
                        	        <td><input type="number" name="teamA-A5-rating" placeholder="Rating"></td>
	                        </tr>
			</table>

			B Team
	                <table id="bteam" border="0.5">
        	                <tr>
                                	<td><input type="text" name="teamB-B1-user" placeholder="Name"></td>
                	                <td><input type="number" name="teamB-B1-rating" placeholder="Rating"></td>
                        	</tr>
	                        <tr>
        	                        <td><input type="text" name="teamB-B2-user" placeholder="Name"></td>
                	                <td><input type="number" name="teamB-B2-rating" placeholder="Rating"></td>
	                        </tr>
        	                <tr>
	                                <td><input type="text" name="teamB-B3-user" placeholder="Name"></td>
                	                <td><input type="number" name="teamB-B3-rating" placeholder="Rating"></td>
                        	</tr>
        	                <tr>
                	                <td><input type="text" name="teamB-B4-user" placeholder="Name"></td>
                        	        <td><input type="number" name="teamB-B4-rating" placeholder="Rating"></td>
                        	</tr>
	                        <tr>
        	                        <td><input type="text" name="teamB-B5-user" placeholder="Name"></td>
                	                <td><input type="number" name="teamB-B5-rating" placeholder="Rating"></td>
	                        </tr>
        	        </table>

			<input type="submit" value="UpdateRate">
		</form>

		<p>
			<input type="button" value="TeamReset" onClick="teamReset()">
		</p>

		<h4>
			<p>ユーザ情報更新</p>
			<form action="/userUpdate" method="POST" name="update" id="update">
				<input type="text" name="name" placeholder="Name" id="nametxt">
				<input type="number" name="rating" placeholder="Rating" id="userRating">
				<input type="submit" value="更新">
			</form>

<!--			<p>レート更新(by Elo Rating)</p>
                        <form action="/rateUpdate" method="POST" name="update" id="update">
                                <input type="text" name="name" placeholder="Name" id="nametxt">
                                <input type="text" name="opponentName" placeholder="opponentName" id="nametxt">
                                <input type="text" name="winner" placeholder="winner" id="nametxt">
                                <input type="submit" value="更新">
                        </form>
-->
<!--
			<p>対戦履歴更新</p>
			<form action="/battleResultUpdate" method="POST" name="update" id="update">
				<input type="text" name="name" placeholder="Name" id="nametxt">
				<input type="number" name="rating" placeholder="rating" id="userRating">
				<input type="text" name="opponentName" placeholder="opponentName" id="nametxt">
				<input type="number" name="opponentRating" placeholder="opponentRating" id="userRating">
				<input type="text" name="winner" placeholder="winner" id="nametxt">
				<input type="submit" value="更新">
			</form>
-->
<!-- 
			<p>ルーム情報更新</p>
			<form action="/roomUpdate" method="POST" name="roomUpdate" id="roomUpdate">
				<input type="number" name="roomId" id="roomId">
				<input type="text" name="roomName" placeholder="room name" id="roomName">
				<input type="text" name="hostName" placeholder="host name" id="hostName">
				<input type="number" name="rating" id="roomRating">
				<input type="submit" value="更新">
			</form>
-->
		</h4>

		<script type="text/javascript">
			var data = <%- JSON.stringify(res) %>;
			console.log('data', data);
			displayUser(data);
		</script>
	</body>
</html>
