<!DOCTYPE html>
<html lang="ja">
	</head>
		<title>Menu</title>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="./javascripts/menu/index.js"></script>
	</head>

	<body>
		<h1>
			<p>Menu</p>
		</h1>

		<h2>User</h2>
			<table id="user" border="1">
				<tr>
					<td>User Name</td>
					<td>Rating</td>
				</tr>
			<table>

		<h4>
			<p>ユーザ情報更新</p>
			<form action="/userUpdate" method="POST" name="update" id="update">
				<input type="text" name="name" placeholder="Name" id="nametxt">
				<input type="number" name="rating" placeholder="Rating" id="userRating">
				<input type="submit" value="更新">
			</form>
			<p>レート更新(by Elo Rating)</p>
                        <form action="/rateUpdate" method="POST" name="update" id="update">
                                <input type="text" name="name" placeholder="Name" id="nametxt">
                                <input type="text" name="opponentName" placeholder="opponentName" id="nametxt">
                                <input type="text" name="winner" placeholder="winner" id="nametxt">
                                <input type="submit" value="更新">
                        </form>


<!--
			<p>対戦履歴更新</p>
			<form action="/battleResultUpdate" method="POST" name="update" id="update">
				<input type="text" name="name" placeholder="Name" id="nametxt">
				<input type="number" name="rating" placeholder="rating" id="userRating">
				<input type="text" name="opponentName" placeholder="opponentName" id="nametxt">
				<input type="number" name="opponentRating" placeholder="opponentRating" id="userRating">
				<input type="text" name="winner" placeholder="winner" id="nametxt">
				<input type="submit" value="更新">
			</form>
-->
<!-- 
			<p>ルーム情報更新</p>
			<form action="/roomUpdate" method="POST" name="roomUpdate" id="roomUpdate">
				<input type="number" name="roomId" id="roomId">
				<input type="text" name="roomName" placeholder="room name" id="roomName">
				<input type="text" name="hostName" placeholder="host name" id="hostName">
				<input type="number" name="rating" id="roomRating">
				<input type="submit" value="更新">
			</form>
-->
		</h4>

		<script type="text/javascript">
			var data = <%- JSON.stringify(res) %>;
			console.log('data', data);
			displayUser(data);
		</script>
	</body>
</html>
